<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846423631419-ncfpro7a3g4qb0t0is0pqolcu1eeinlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846423631419-ncfpro7a3g4qb0t0is0pqolcu1eeinlc</string>
	<key>API_KEY</key>
	<string>AIzaSyBJhGUERsexdIzKAbwLk6gf0bCum9mawRs</string>
	<key>GCM_SENDER_ID</key>
	<string>846423631419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dilipagheda.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-71bef</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-71bef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846423631419:ios:4134c5333b1a86ed</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-71bef.firebaseio.com</string>
</dict>
</plist>